service_account_key_file = "/tmp/key.json"
cloud_id                 = "b1gir8jfydv97f2v7j5e"
folder_id                = "b1gu9mi273us542m5p4c"
zone                     = "ru-central1-a"
image_id                 = "fd8173gdn7hcf0bt6iat"
subnet_id                = "e9bm9qjfyd3gfrm7c1rl"
public_key_path          = "/home/username/.ssh/id_rsa.pub"
private_key_path         = "/home/username/.ssh/id_rsa"
app_zone                 = "ru-central1-a"
